$fuente1: 'Roboto', sans-serif;

$cafe1: #f9f6f3;
$cafe2: #f2ece2;
$cafe3: #bc9873;
$cafe4: #6f4d3d;

$naranja1: #d94d14;
$naranja2: #ff4e08;
$naranja3: #ffac8b;

$gris1: rgb(230, 230, 230);
$gris2: rgb(51, 51, 51);
$gris3: rgb(90, 90, 90);

$fondo1: rgba(20, 20, 20, 0.6);
$fondo2: rgba(0, 0, 0, 0.6)